References Need updating

Apologies, this is my fault for missing this but rerunning the nits tool I see a few issues

  == Outdated reference: draft-ietf-httpbis-semantics has been published as
     RFC 9110

  -- Possible downref: Normative reference to a draft: ref. 'HTTP' 

  ** Obsolete normative reference: RFC 7231 (Obsoleted by RFC 9110)

  ** Downref: Normative reference to an Informational RFC: RFC 7871

  == Outdated reference: draft-ietf-quic-http has been published as RFC 9114

-----

The 'HTTP' refers to the "[HTTP]" in the Abstract which wasn't caught the previous time (or I totally missed it).
Also, all the IESG missed it - there is a thing about no references in the Abstract. 

Can you update the document with the current references ? I've alerted Warren to this.