Privacy intent?

What does this mean (from S3.2)?

> Clients using a domain-oriented transport proxy like HTTP CONNECT ([RFC7231] Section 4.3.6) or SOCKS5 ([RFC1928]) SHOULD disable SVCB support if performing SVCB queries would violate the client's privacy intent.

It's not clear what information is leaking and to whom here.  This likely needs more text that addresses assumptions about where the client is sending these SVCB queries.

Of course, letting the proxy perform name resolution can improve privacy with respect to the resolver that a client chooses.  However, there are ways in which SVCB can enhance privacy in these configurations, especially if the proxy is not trusted with information about destinations.  It requires that you use DoT or DoH to a resolver that the client trusts to learn domain names.