Clarify Client DNS failure behaviour

Moin!

Reading the draft again in preparation for the dnsop interim I was confused by the Client behavior/Handling resolution failures section.

The client behaviour says that A/AAAA and SVCB/HTTPSVC should be run in parallel and the failure case says that if SVCB fails the client should not use A/AAAA. It think what we want here is that if the initial parallel query fails use A/AAAA as a lot of DNS devices fail in various forms when queried something not A/AAAA and the ENT or NXDomain handling also is questionable for a lot of DNS servers. 

If the initial SVCB lookup give you something to follow you should fail on the final resolution, but not on the initial lookup as it will cause to much collateral damage.

So long
-Ralf


Here's the full text
>If an SVCB query results in a SERVFAIL error, transport error, or timeout, and DNS exchanges between the client and the recursive resolver are cryptographically protected (e.g. using TLS [RFC7858] or HTTPS [RFC8484]), the client MUST NOT fall back to non-SVCB connection establishment. This ensures that an active attacker cannot mount a downgrade attack by denying the user access to the SVCB information.

> A SERVFAIL error can occur if the domain is DNSSEC-signed, the recursive resolver is DNSSEC-validating, and the attacker is between the recursive resolver and the authoritative DNS server. A transport error or timeout can occur if an active attacker between the client and the recursive resolver is selectively dropping SVCB queries or responses, based on their size or other observable patterns.

> Similarly, if the client enforces DNSSEC validation on A/AAAA responses, it MUST NOT fall back to non-SVCB connection establishment if the SVCB response fails to validate.

Note that these requirements are all restricted to DoT, DoH, or validating-stub.  I think this should exclude the buggy devices you're describing.  Also, I don't think we have a choice.  As the text notes, a less strict policy would open a downgrade attack on ECHO.

Ben when the authority SERVFAIL/NXDOMAIN/Timeouts for the SVCB question of the resolver the resolver has and will give back SERVFAIL or NXDomain. It does not matter if the stub connects over DoH, DoT or  regular DNS. What will the client do in that case?



NXDOMAIN is fine, but SERVFAIL or timeout->SERVFAIL currently cannot be tolerated, and the client will not be able to access the domain until the buggy authoritative is fixed.  Suggestions welcome!

NXDOMAIN is not fine. NXDOMAIN for example.com SVCB means that example.com does not exists. The correct answer is Noerror/NOData. I have seen domains not responding properly to new qtypes (e.g AAAA/NS) more often than I wished. If we want to go down that way we at least have to put a warning sign in the text as sites will break if we see SERVFAIL or NXDOMAIN of SVCB request as a downgrade attack.

I believe the primary security concern here is around a network attacker blocking some of the messages to try to prevent just the HTTPSSVC result and trick A/AAAA into being used without ESNI.  Thus clients need to be careful with anything that could have been the result of such an attack.

NXDOMAIN, should in theory be sufficient for the client to trust that there really is not an HTTPSSVC result, whether because the domain doesn't exist or because an existing domain doesn't have HTTPSSVC and something is responding improperly.  Either way, it should be safe for the client to fallback to A/AAAA on receiving NXDOMAIN (or NOERROR/NODATA).  Compare to SERVFAIL which could signify that a resolver failed to get a result from upstream, which could be the result of a network attacker.

Or is your concern that it may be too common for incorrectly-implemented resolvers to return NXDOMAIN in cases where an attacker is blocking things?

Yeah, @ericorth explained it better.  Returning NXDOMAIN is a bug, but the resulting user-visible behavior is fine.  It's SERVFAIL or timeout that would really be a problem.

If SERVFAIL turns out to be a real issue, implementors may be forced to back off slightly, e.g. by showing a click-through warning.  I tend to think that those behaviors don't need to be standardized, but feel free to suggest text.

It would be good to do an experiment as to how many of the Alexa/Umbrella top-N names return NXDOMAIN rather NODATA for a SVCB query (but return a valid A or AAAA or CNAME response).  Even if a bug, if too common it could impact deployability.  Some authorities certainly had this bug in the early days of AAAA existence (and some may still do so).

@dmcardle I think this is one of the questions your experiment was looking to answer.

It doesn't help when IESG members think that blocking DNS types is good security practice.

https://mailarchive.ietf.org/arch/msg/dnsop/BQwfAlTgqQf0X7HCFWE0ashFApU/

The following tool is already setup for bulk testing of known and unknown types (genreport -t).

https://gitlab.isc.org/isc-projects/DNS-Compliance-Testing

Note Alexa/Umbrella lists have a higher proportion of F5 servers some of which are misconfigured.


And Google's servers return NOTIMP for unknown types.  Microsoft's outlook servers also return NOTIMP.  Unknown types outside of the reserver meta range are supposed to be treated as opaque blobs which RFC compliant server should return NOERROR or NXDOMAIN for depending upon whether the name exists or not.

@enygren We're currently working on a [Chrome experiment](https://docs.google.com/document/u/1/d/14eCqVyT_3MSj7ydqNFl1Yl0yg1fs6g24qmYUUdi5V-k/edit) to measure how an arbitrary new record type propagates through the DNS ecosystem.

@dmcardle this experiment only checks the behaviour of recursive resolvers. 

My concern is that authorities (of which we have a lot more) will answer incorrect and the poor resolver has to give back the client that incorrect answer. This will happen and as we know it we should maybe describe that if we want to be strict about that. What about:
...
This ensures that an active attacker
   cannot mount a downgrade attack by denying the user access to the
   SVCB information.
"SERVFAIL answers potentially also can happen when the authoritative name server for a domain is broken or non standards compliant, e.g if it sends SERVFAIL, NXDOMAIN or NOTIMP back to the resolver instead of the correct empty response for an RRType it does not know or has no data for."



Could the experiment not query the experiment-domain directly as part of the test?  

@fl1ger Are you saying that the recursive will convert NXDOMAIN or NOTIMP to SERVFAIL?  I've never heard of that.

I believe the concern is that authorities may return SERVFAIL or NXDOMAIN for SVCB (rather than NODATA NOERROR) for names with valid A/AAAA/CNAME records so treating this as a hard-fail rather than fallback will DoS these sites.

One approach would be to convert the "MUST" to a "SHOULD" with guidance that a downgrade attack may be possible between the recursive and authority, and that client authors may use the results of future research to determine when it is safe to enforce this behavior.

We may want to separate things then. IIRC, the original feedback here was that an attacker between the client and recursive could try to recognize which packets contained SVCB vs A/AAAA (the responses are vastly different sizes) and drop one. Especially since they go on HTTP/3 streams, it's quite likely an attacker can cause problems here.

#104, however, generalized it to all kinds of errors. Hardening the error-handling is nice, but given the concerns around deployment risk, that was perhaps the wrong way to address the feedback.

In reality there is one or two vendors holding the whole industry to ransom due to their negligence. 
Lets not be held to ransom and actually say MUST NOT proceed to make a connection unless the SVCB returns a NOERROR response.  Vendors can fix this in under 24 hours as I have seen them do it that fast in the past multiple times.  Vendors can issue advisories to their clients that they should upgrade.

RFC 1034 and RFC 1035 has the server returning SERVFAIL if it couldn't LOAD the master file (e.g. because it didn't implement a type present in the master file) and returning NOERROR or NXDOMAIN if the zone file loaded.

RFC3597 further reinforced this by saying all type code other than the meta range (RFC2929) are to be treated as opaque blobs and providing a presentation format for unknown record types.

We also have draft-ietf-dnsop-no-response-issue-23 in the RFC editor queue pointing out the mis use of NOTIMP.

Google have already indicated they they will fix their servers as a matter of urgency.  Google acknowledges that they correct rcodes are NOERROR or NXDOMAIN and not NOTIMP.  Microsoft have committed to fix their corporate authoritative servers as part of deploying TLSA support.   AFAIK the implementation in Windows is fine.

Clients are very risk averse when it comes to making changes that could break accessing internet sites that worked fine (from the user perspective) before the change.  Ignoring what would have been perfectly good A/AAAA results because an SVCB returned NXDOMAIN or NOTIMP would be a tough sell.  The case would have to be made either that it is vital for safe functioning of SVCB queries (as is the case with timeout and maybe SERVFAIL) or that it would not currently be a significant issue and nothing would break.

Even with timeout/SERVFAIL, while we're optimistic it'll be acceptable to treat those as fatal, there's enough skepticism to have started the experiments dmcardle mentioned above.

We've adjusted the failure behavior requirements to give clients more leeway, and be more explicit about the rationale, in #210.