Question about connection reuse

This is an example:
There are this 2 records for eampleA.com and exampleB.com:
exampleA.com.  7200  IN HTTPSSVC  1 examples.com alpn=h2,h3 esniconfig="..."

exampleB.com.  7200  IN HTTPSSVC  1 examples.com alpn=h2,h3 esniconfig="..."

they map to the same SvcDomainName.
examplea.com is requested first and there is already established connection to examples.com using sni examplea.com.
Now request for exampleb.com should be made. The request cannot use already existing connection to examples.com unless it is permitted by Origin frame (RFC8336) or Section 9.1.1. in RFC7540 (this is not part of this spec)
A connection can be reused only if ClientHello has not been send yet.
I think this is a correct behavior. Maybe the spec should be more descriptive in Section "Optimistic pre-connection and connection reuse". There is this line:

> If an SVCB record is consistent with an active or in-progress connection C

`active` is not defining the needed state well, maybe it should be better define for HTTPSSVC case specifically.

Also one more question: Should this draft extend a bit Section 9.1.1. in RFC7540? RFC7540 says that connection can be reuse if an origin host resolves to the the same IP address. CAn this criteria be extended to "the same SvcDomainName"?

I'm not sure that requires updating 7540.  If you're resolving the other hostname and it leads to the same SvcDomainName, then you likely have the remaining steps of the resolution cached.  It resolved to the same address.

@ddragana I agree with your analysis of the example you've posed, but I think the current text covers it, by defining "consistent" to mean "the client would attempt an equivalent connection".  Two connections with different SNI are not equivalent for HTTPS, given the conditions you identified in RFC 7540.

If you think it's unclear, we could add a sentence like "For HTTPS, the criteria for a suitable connection are given in RFC 7540 Section 9.1.1.".

The current text is fine. 