Grammar for presentation format does not produce parentheses

Examples like this one (from section 1.1) use a notation where the SvcFieldValue is surrounded by parentheses.
```
   ; ServiceForm
   svc.example.net.  7200  IN HTTPSSVC 2 svc3.example.net. ( alpn=h3
                                       port=8003 esniconfig="..." )
```

It looks like the top-level production rule is this:
```
   pair          = display-key "=" value
```

Shouldn't there be a rule just one level higher? Something like this?
```
   svc-field-value = [ "(" 1*pair ")" ]
```


The parentheses are zone file format for spanning a line break (RFC 1035 Section 5.1).  They're not part of the SVCB presentation format.

If this is confusing maybe we can structure the examples differently.  The examples originally used "\" to indicate a line break that readers should ignore, but this is not valid zone file syntax.

Aha, thanks!  I think it's worth mentioning how this grammar hooks up to the zone file syntax so newcomers like me can follow along mechanically.

It looks like RFC 1035 predates the ABNF syntax defined in RFC 5234, so maybe "hooking up" the grammars is not really possible/meaningful?

OK, I will try to make that clearer.

Yeah, there's no ABNF for zone files, which is why we had to define this ugly `basic-visible` thing, etc.  I'm pretty sure it's still not exactly right but it's close enough.